@model BENKIEN.Entities.Product

@{
    ViewData["Title"] = "Ürün Sil";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h3>@Model.Name - İlgili ürünü silmek istediğine emin misin ?</h3>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductCode)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductCode)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Stock)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsAvailable)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IsAvailable)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IsActive)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsHome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IsHome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Brand)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Brand.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UpdatedAt)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductImages)
                </dt>
                <dd class="col-sm-10">
                    <div class="container mt-4">
                        <div class="row">
                            <!-- İlk Slider: Ana Fotoğraf -->
                            <div class="col-md-6">
                                <div id="mainImageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                                    <div class="carousel-inner">
                                        @if (Model.ProductImages != null && Model.ProductImages.Any())
                                        {
                                            for (int i = 0; i < Model.ProductImages.Count; i++)
                                            {
                                                var image = Model.ProductImages[i];
                                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                                    <img src="@image.ImageUrl" alt="@image.ImageName" class="d-block w-100 img-thumbnail" />
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="carousel-item">
                                                <p class="text-center">Ürüne ait fotoğraf yok!</p>
                                            </div>
                                        }
                                    </div>
                                    <!-- Slider Kontrol Butonları -->
                                    <button class="carousel-control-prev" type="button" data-bs-target="#mainImageCarousel" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#mainImageCarousel" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Sil" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-success">Geri Dön</a>
            </form>
        </div>
    </div>
</div>
